.second-content
{
    background: #ffffff;
    height: 200vh;
    position: relative;
    left: 61px;
    top: 6rem;
    width: calc(100% - 61px);
    transition: all 0.5s ease;
}
.sidebar.active ~ .second-content
{
    left: 211px;
    width: calc(100% - 211px);
}
.second-content .food-list
{
    text-align: center;
}
.second-content .food-images
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.second-content .food-images ul 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.second-content .food-images ul li 
{
    border: 2px solid #000;
    padding: 10px;
    width: 30%;
}
.second-content .food-list h1
{
    color: #00aa6c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}
.second-content .food-images ul li h1
{
    color: #00aa6c;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.second-content .food-images ul li p 
{
    position: relative;
    top: 0.2rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 26px;
    font-size: 1rem;
}
.second-content .food-images ul li img 
{
    width: 160px;
    height: 130px;
}